html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header img {
    width: 100%;
    height: 100%;
}

header {
    height: 50%; 
}

main {
    background-color: #F68134;
    height: 45%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    background-color: #6AC5E2;
    padding: 40px;
    border-radius: 10px;
    font-family: 'Lexend';
    font-size: 60px;
    color: #2D68B8;
}

footer {
    background-color: #6AC5E2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    color: white; 
    font-family: 'Lexend';
}